<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=DESKTOP-H0P0HUN\SQLEXPRESS;Initial Catalog=SysCExpert;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="BackupPath1" connectionString="Data Source=DESKTOP-H0P0HUN\SQLEXPRESS;Initial Catalog=PatenteFamilia;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>