<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=DESKTOP-H0P0HUN\SQLEXPRESS;Initial Catalog=SysCExpert;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="BackupPath1" connectionString="Data Source=DESKTOP-H0P0HUN\SQLEXPRESS;Initial Catalog=PatenteFamilia;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="LanguagePath" value="Recursos\Idioma" />
		<add key="key" value="b14ca5898a4e4133bbce2ea2315a1916" />
		<add key="logNote" value="C:\Programa\PracticaProfesional\Logs\" />
		<add key="pathLog" value="C:\Programa\PracticaProfesional\Solution1\Logs\" />
		<add key="ReportesPath" value="C:\Programa\PracticaProfesional\ReportesGenerados\"/>
	</appSettings>
</configuration>