<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SysCExpert;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="PatenteFamilia" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PatenteFamilia;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="LanguageOptions" value="Español" />
		<add key="PrologFile" value="C:\\Programa\\PracticaProfesional\\SistemaMedico\\Recursos\\BaseProlog.pl" />
		<add key="LanguagePath" value="Recursos\Idioma" />
		<add key="key" value="b14ca5898a4e4133bbce2ea2315a1916" />
		<add key="logNote" value="Logs\" />
		<add key="pathLog" value="Logs\" />
		<add key="ReportesPath" value="ReportesGenerados\"/>
	</appSettings>
</configuration>