<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=DESKTOP-2ECCL58\SQLEXPRESS;Initial Catalog=SysCExpert;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="MainConString2" connectionString="Data Source=DESKTOP-H0P0HUN\SQLEXPRESS;Initial Catalog=SysCExpert;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="Backup" value="SysCExpert" />
		<add key="BackupPath" value="C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\Backup" />
		<add key="BackupPath2" value="C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\Backup" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>